/* Contenedor principal */
.spotify-container {
   background-image: url("../img/spotifygradient.png");
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  color: white;
  text-align: center;
}

/* Banner */
.bannerS {
  background-position: center;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Contenedor interno del banner */
.banner-contentS {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título dentro del banner */
.bannerS h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

/* Botón dentro del banner */
.create-button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 10px; /* Espacio entre el título y el botón */
  margin-bottom: 10px;
}

.create-button:hover {
  background-color: #1ed760;
}

/* Enlace de Spotify */
.playlist-link {
  margin-top: 20px;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mensajes de error */
.error-message {
  color: red;
  margin-top: 10px;
}
